// Styles for the navigation header as it is displayed on a desktop screen.

$nav-menu-width: 150px;
$nav-menu-horizontal-padding: 50px; // For desktop header.

header#nav-menu-header {
  @media #{$query-mobile} {
    display: none;
  }
  @media #{$query-desktop} {
    display: table;
  }
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;

  ul.nav-menu {
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    z-index: 10;
    background: $nav-menu-bg-image repeat;
 }

  li.nav-menu-item {
    margin: 20% 0;
    font-size: 1.5em;
    text-align: center;
    z-index: 10;
    @include navigation-link();
    /* Keeps the nav menu iems along an angle. */
    // @media #{$query-under-max-header-height} {
    //   &[data-item='0'] { padding-right: 0; }
    //   &[data-item='1'] { padding-right: $nav-menu-skew-offset; }
    //   &[data-item='2'] { padding-right: $nav-menu-skew-offset * 2; }
    //   &[data-item='3'] { padding-right: $nav-menu-skew-offset * 3; }
    // }
    // @media #{$query-over-max-header-height} {
    //   &[data-item='0'] { padding-right: 0; }
    //   &[data-item='1'] { padding-right: $nav-menu-skew-offset * 2; }
    //   &[data-item='2'] { padding-right: $nav-menu-skew-offset * 4; }
    //   &[data-item='3'] { padding-right: $nav-menu-skew-offset * 6; }
    // }
  }
}