body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* Each of the columns in the header section at the top of the page. */
@media (max-width: 575px) {
  div.header-col {
    padding: 0;
  }
}

@media (min-width: 576px) {
  div.header-col {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  div.header-col {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  div.header-col {
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  div.header-col {
    padding: 40px;
  }
}

/* Profile picture. Appears at the top of the page. */
@media (max-width: 575px) {
  img.profile-pic {
    width: 100vw;
    height: 100vw;
  }
}

/* Title in landing section. Appears with .profile-pic and .about. */
h2.header {
  font-family: "Zilla Slab", serif;
  font-kerning: normal;
}

/* Project card wrapper wrapping .project-card. */
div.project-card-wrapper {
  padding: 20px;
}

/* Project card div wrapping .project-card-img and .project-card-title. */
div.project-card {
  padding: 20px;
}

/* Project card title. Appears below project-card-img. */
h5.project-card-title {
  font-weight: bold;
}
