/* Variables */
/* Mixins */
/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #f4f4f4 url("../assets/graphics/bg-light.png") repeat;
}

div.project-container {
  min-height: calc(100vh - 320px);
}

/*
- div.jumbotron
  - div.container
    - div.top-header-wrapper-row
      - div.top-header-wrapper-col.profile-pic-col
        - img.profile-pic.square
      - div.top-header-wrapper-col
        - div.title-wrapper-row
          - div.title-wrapper-col
            - h2.title
            - a.github-link
        - div.about-wrapper-row
          - div.profile-pic-mobile-col
            - img.profile-pic.square
           - div.text-box
            - p.about
 */
div.jumbotron.jumbotron-header {
  background-color: #2f4554;
  color: #f4f4f4;
  border-radius: 0;
  border-bottom: 5px dashed #f4f4f4;
  border-top: 5px dashed #f4f4f4;
}

div.top-header-wrapper-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 575px) {
  div.top-header-wrapper-col {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  div.top-header-wrapper-col {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) {
  div.top-header-wrapper-col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  div.top-header-wrapper-col {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  div.top-header-wrapper-col {
    padding-left: 40px;
    padding-right: 40px;
  }
}

div.title-wrapper-row {
  margin-bottom: 20px;
}

div.title-wrapper-col {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  div.title-wrapper-col {
    text-align: center;
  }
}

h2.title {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

a.github-link {
  color: powderblue;
}

a.github-link:visited {
  color: powderblue;
}

a.github-link:hover {
  color: deepskyblue;
}

/* Profile picture */
img.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  img.profile-pic {
    margin-top: -6px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  img.profile-pic {
    margin-top: 6px;
    width: 220px;
    height: 220px;
  }
}

@media (min-width: 992px) {
  img.profile-pic {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1200px) {
  img.profile-pic {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 575px) {
  div.profile-pic-col {
    display: none;
  }
  div.profile-pic-mobile-col {
    display: none;
  }
}

@media (min-width: 576px) {
  div.profile-pic-col {
    display: none;
  }
  div.profile-pic-mobile-col {
    display: block;
  }
  .extra-text {
    display: none;
  }
}

@media (min-width: 768px) {
  p.extra-text {
    display: block;
  }
  span.extra-text {
    display: inline;
  }
}

@media (min-width: 992px) {
  div.profile-pic-col {
    display: block;
  }
  div.profile-pic-mobile-col {
    display: none;
  }
}

h2.section-header {
  font-family: "Roboto Slab", serif;
}

/* card tree
- div.card-wrapper
  - div.card.card
    - img.card-img-top.card-img
    - div.card-block
      - h5.card-title.card-title
      - p.card-text
      - a.btn.btn-primary
      - a.btn.btn-primary
 */
div.card-wrapper {
  padding: 24px;
}

img.card-img {
  border-top: solid #dfdfdf 1px;
}

img.card-img:hover {
  cursor: pointer;
  opacity: .8;
}

h5.card-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

div.footer {
  margin-top: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #f4f4f4;
  background-color: #2f4554;
  border-top: 5px dashed #f4f4f4;
}

ul.footer-list {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

li.footer-list-item, li.footer-list-divider {
  display: inline-block;
}

li.footer-list-divider {
  margin-left: 10px;
  margin-right: 10px;
}

a.footer-list-anchor {
  color: powderblue;
}

a.footer-list-anchor:visited {
  color: powderblue;
}

a.footer-list-anchor:hover {
  color: deepskyblue;
}
