body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* The top row of the page containing the profile. */
@media (max-width: 575px) {
  div.header-row {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 576px) {
  div.header-row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Each of the columns in the header section at the top of the page. */
@media (max-width: 575px) {
  div.header-col {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  div.header-col {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) {
  div.header-col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  div.header-col {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  div.header-col {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Profile picture. Appears at the top of the page. */
img.profile-pic {
  margin: 0 auto;
}

@media (max-width: 575px) {
  img.profile-pic {
    width: 100vw;
    height: 100vw;
  }
}

@media (max-width: 575px) {
  img.profile-pic {
    width: 100vw;
    height: 100vw;
  }
}

@media (min-width: 576px) {
  img.profile-pic {
    width: 360px;
    height: 360px;
  }
}

@media (min-width: 768px) {
  img.profile-pic {
    width: 360px;
    height: 360px;
  }
}

@media (min-width: 992px) {
  img.profile-pic {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  img.profile-pic {
    width: 420px;
    height: 420px;
  }
}

/* Title in landing section. Appears with .profile-pic and .about. */
h2.header {
  font-family: "Zilla Slab", serif;
  font-kerning: normal;
}

/* Project card wrapper wrapping .project-card. */
div.project-card-wrapper {
  padding: 20px;
}

/* Project card div wrapping .project-card-img and .project-card-title. */
div.project-card {
  padding: 20px;
}

/* Project card title. Appears below project-card-img. */
h5.project-card-title {
  font-weight: bold;
}
