$sans-serif-font-stack: 'Lato', Helvetica, Arial, sans-serif;
$slab-font-stack: 'Zilla Slab', serif;

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

body {
  margin: 0;
  padding: 0;
  font-family: $sans-serif-font-stack;
  // font-size: 16px;
}

/* Each of the columns in the header section at the top of the page. */
div.header-col {
  @media (max-width: #{$sm-min - 1}) {
    padding: 0;
  }

  @media (min-width: #{$sm-min}) {
    padding: 10px;
  }

  @media (min-width: #{$md-min}) {
    padding: 20px;
  }

  @media (min-width: #{$lg-min}) {
    padding: 30px;
  }

  @media (min-width: #{$xl-min}) {
    padding: 40px;
  }
}

/* Profile picture. Appears at the top of the page. */
img.profile-pic {
  @media (max-width: #{$sm-min - 1}) {
    width: 100vw;
    height: 100vw;
  }
}

/* Title in landing section. Appears with .profile-pic and .about. */
h2.header {
  font-family: $slab-font-stack;
  font-kerning: normal;
}

/* Project card wrapper wrapping .project-card. */
div.project-card-wrapper {
  padding: 20px;
}

/* Project card div wrapping .project-card-img and .project-card-title. */
div.project-card {
  padding: 20px;
}

/* Project card title. Appears below project-card-img. */
h5.project-card-title {
  font-weight: bold;
}
