@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  position: relative;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
div.container div.left-container h2.header {
  margin: 14px;
  font-size: 1.5em;
}
div.container div.right-container ul#project-list {
  margin-top: 14px;
  list-style: none;
}
div.container div.right-container ul#project-list li {
  margin-top: 6px;
}
div.container a {
  text-decoration: none;
  color: #28f;
}
div.container a:hover {
  color: #79b7ff;
}
div.container hr.divider {
  background-color: #d9d9d9;
  border: none;
}
div.container hr.divider.vertical {
  width: 1px;
  height: 120px;
  position: absolute;
  top: 5px;
  left: 220px;
}
div.container hr.divider.horizontal {
  margin: 14px auto;
  width: 250px;
  height: 1px;
}
div.container a.github-link {
  margin: 14px;
}

@media screen and (min-width: 601px) {
  div.container {
    margin-top: 100px;
    width: 500px;
  }
  div.container div.left-container {
    float: left;
    width: 200px;
  }
  div.container div.right-container {
    float: right;
    width: 300px;
  }
  div.container hr.vertical.divider {
    display: block;
  }
  div.container hr.horizontal.divider {
    display: none;
  }
  div.container a.github-link {
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  div.container {
    margin-top: 50px;
    width: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
  }
  div.container div.left-container, div.container div.right-container {
    float: none;
    width: inherit;
  }
  div.container div.right-container ul#project-list {
    padding-left: 14px;
  }
  div.container hr.vertical.divider {
    display: none;
  }
  div.container hr.horizontal.divider {
    display: block;
  }
  div.container a.github-link {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
