@import url('https://fonts.googleapis.com/css?family=Lato');

$font-stack: 'Lato', Helvetica, Arial, sans-serif;;
$container-width: 500px;
$mini-container-width: $container-width / 2.4;
$container-padding-v: 10px;
$container-padding-h: 20px;
$inner-margin: 14px;
$border-color: #ccc;
$link-color: #28f;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 16px;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  padding: $container-padding-v $container-padding-h;
  position: relative;
  border: 1px solid $border-color;
  @include border-radius(8px);

  div.info-container {
    h2.header {
      margin-top: $inner-margin;
      font-size: 1.5em;
    }
  }

  div.list-container {
    ul#project-list {
      margin-top: $inner-margin;
      list-style: none;

      li { margin-top: 6px; }
    }
  }

  a {
    text-decoration: none;
    color: $link-color;

    &:hover { color: lighten($link-color, 13%); }
  }

  hr.divider {
    background-color: lighten($border-color, 5%);
    border: none;

    &.vertical {
      width: 1px;
      height: 146px;

      position: absolute;
      top: $container-padding-v / 2;
      left: $container-padding-h + $container-width * 2 / 5;
    }

    &.horizontal {
      margin: $inner-margin auto;
      width: $mini-container-width;
      height: 1px;
    }
  }

  a.github-link { margin-bottom: $inner-margin; }
}


@media screen and (min-width: 601px) {
  div.container {
    margin-top: 100px;
    width: $container-width;

    div.info-container {
      float: left;
      width: $container-width * 2 / 5;
      
      h2.header { margin-left: $inner-margin; }
    }

    div.list-container {
      float: right;
      width: $container-width * 3 / 5;

      ul#project-list { padding-left: 40px; }
    }

    hr.vertical.divider { display: block; }

    hr.horizontal.divider { display: none; }

    a.github-link {
      position: absolute;
      left: $container-padding-h + $inner-margin;
      bottom: $container-padding-v;
    }
  }
}


@media screen and (max-width: 600px) {
  div.container {
    margin-top: 50px;
    width: $mini-container-width;

    @include border-radius(10px);

    div.info-container {
      float: none;
      width: inherit;

      h2.header { margin-left: 0; }
    }

    div.list-container {
      float: none;
      width: inherit;

      ul#project-list { padding-left: 0; }
    }

    hr.vertical.divider { display: none; }

    hr.horizontal.divider { display: block; }

    a.github-link {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }
}
