$nav-menu-width: 150px;
$nav-menu-content-height: 80vh;
$nav-menu-skew-width: 160px;
$nav-menu-skew-height: 1024px;

$nav-menu-bg-color: #EE9B00;
$nav-menu-accent-color: #D25A1E;

$nav-menu-skew-offset: 7px;

header.nav-menu-header {
  @media screen and (max-width: #{$mobile-cutoff-width}) {
    display: none;
  }
  @media screen and (min-width: #{$mobile-cutoff-width + 1}) {
    display: block;
  }

  width: $nav-menu-width;
  height: $nav-menu-content-height;
  padding: calc((100vh - #{$nav-menu-content-height}) / 2) 0;
  overflow: hidden;
  background-color: $nav-menu-bg-color;

  ul.nav-menu {
    $-nav-list-offset: $nav-menu-width - 50px;
    margin: 0;

    position: absolute;
    left: calc(#{$-nav-list-offset} - 14vh);
    bottom: 9%;

    z-index: 10;
  }

  li.nav-menu-item {
    margin: 7% 0;

    font-size: 1.5em;
    font-weight: 500;
    text-align: right;

    @include navigation-link();

    /* Keeps the iems along an angle. */
    &.menu-item-0 {
      padding-right: 0;
    }
    &.menu-item-1 {
      padding-right: $nav-menu-skew-offset;
    }
    &.menu-item-2 {
      padding-right: $nav-menu-skew-offset * 2;
    }
    &.menu-item-3 {
      padding-right: $nav-menu-skew-offset * 3;
    }
  }

  // Skewed sections.
  &::before, &::after {
    content: '';
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
  }

  // Inner layer on top of the header.
  &::before {
    $-inner-multiplier: .4;
    $-inner-skew-height: $-inner-multiplier * $nav-menu-skew-height;
    $-inner-skew-width: $-inner-multiplier * $nav-menu-skew-width;

    left: 0;
    border-right: $-inner-skew-width solid transparent;

    // Adjust the skew width for screens taller than 1024px. Or zoom.
    @media screen and (max-width: #{$nav-menu-skew-height}) {
      border-top: $-inner-skew-height solid $nav-menu-accent-color;
    }
    @media screen and (min-width: #{$nav-menu-skew-height} + 1) {
      border-top: calc(#{$-inner-multiplier} * 100vh) solid $nav-menu-accent-color;
    }
  }

  // Outer section, protruding from the header.
  &::after {
    left: $nav-menu-width;
    border-right: $nav-menu-skew-width solid transparent;

    // Adjust the skew width for screens taller than 1024px. Or zoom.
    @media screen and (max-width: #{$nav-menu-skew-height}) {
      border-top: $nav-menu-skew-height solid $nav-menu-bg-color;
    }
    @media screen and (min-width: #{$nav-menu-skew-height} + 1) {
      border-top: 100vh solid $nav-menu-bg-color;
    }
  }
}