header#nav-menu-header {
  @media screen and (max-width: #{$mobile-cutoff-width}) {
    display: none;
  }
  @media screen and (min-width: #{$mobile-cutoff-width + 1}) {
    display: block;
  }

  @media screen and (max-height: #{$nav-menu-skew-height}) {
    width: $nav-menu-width;
  }
  @media screen and (min-height: #{$nav-menu-skew-height + 1}) {
    width: $nav-menu-width * 2;
  }

  position: fixed;
  top: 0;
  left: 0;
  height: $nav-menu-content-height;
  padding: calc((100vh - #{$nav-menu-content-height}) / 2) 0;
  // overflow-y: hidden;
  background-color: $nav-menu-bg-color;

  ul.nav-menu {
    margin: 0;

    position: absolute;
    bottom: 9%;

    @media screen and (max-height: #{$nav-menu-skew-height}) {
      left: calc(#{$nav-menu-width} - 50px - 14vh);
    }
    @media screen and (min-height: #{$nav-menu-skew-height + 1}) {
      left: calc(#{$nav-menu-width} * 2 - 50px - 14vh);
    }

    z-index: 10;
  }

  li.nav-menu-item {
    margin: 7% 0;

    font-size: 1.5em;
    font-weight: 500;
    text-align: right;
    z-index: 10;

    @include navigation-link();

    /* Keeps the nav menu iems along an angle. */
    @media screen and (max-height: #{$nav-menu-skew-height}) {
      &.menu-item-0 { padding-right: 0; }
      &.menu-item-1 { padding-right: $nav-menu-skew-offset; }
      &.menu-item-2 { padding-right: $nav-menu-skew-offset * 2; }
      &.menu-item-3 { padding-right: $nav-menu-skew-offset * 3; }
    }
    @media screen and (min-height: #{$nav-menu-skew-height + 1}) {
      &.menu-item-0 { padding-right: 0; }
      &.menu-item-1 { padding-right: $nav-menu-skew-offset * 2; }
      &.menu-item-2 { padding-right: $nav-menu-skew-offset * 4; }
      &.menu-item-3 { padding-right: $nav-menu-skew-offset * 6; }
    }
  }

  &.current {
    
  }

  // Skewed sections.
  &::before, &::after {
    content: '';
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
    z-index: 1;
  }

  // Inner layer on top of the header.
  &::before {
    $-inner-multiplier: .4;
    left: 0;

    @media screen and (max-height: #{$nav-menu-skew-height}) {
      border-right: ($-inner-multiplier * $nav-menu-skew-width) solid transparent;
      border-top: ($-inner-multiplier * $nav-menu-skew-height)solid $nav-menu-accent-color;
    }
    // Adjust the skew width for screens taller than 1024px. Or zoom.
    @media screen and (min-height: #{$nav-menu-skew-height} + 1) {
      border-right: ($-inner-multiplier * $nav-menu-skew-width * 2) solid transparent;
      border-top: calc(#{$-inner-multiplier} * 100vh) solid $nav-menu-accent-color;
    }
  }

  // Outer section, protruding from the header.
  &::after {
    @media screen and (max-height: #{$nav-menu-skew-height}) {
      left: $nav-menu-width;
      border-right: $nav-menu-skew-width solid transparent;
      border-top: $nav-menu-skew-height solid $nav-menu-bg-color;
    }
    // Adjust the skew width for screens taller than 1024px. Or zoom.
    @media screen and (min-height: #{$nav-menu-skew-height} + 1) {
      left: $nav-menu-width * 2;
      border-right: ($nav-menu-skew-width * 2) solid transparent;
      border-top: 100vh solid $nav-menu-bg-color;
    }
  }
}