$mono-font-stack: 'Roboto Mono', monospace;
$slab-font-stack: 'Roboto Slab', serif;
$sans-font-stack: 'Roboto', Arial, Helvetica, sans-serif;

$bg-color: #f3f3f3;
$theme-color: #EE9B00;
$accent-color: #D25A1E;

$min-page-width: 800px;

@mixin center-horizontally() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin square-dimensions($dimensions) {
  width: $dimensions;
  height: $dimensions;
}

@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
          transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
       -o-transform: $value;
          transform: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: $slab-font-stack;
  // font-size: 16px;
  background: $bg-color;
  overflow-x: hidden;
}

a {
  @include transition(.25s);
  text-decoration: none;
  &:visited { text-decoration: none; }
}
