$sans-serif-font-stack: 'Roboto', Arial, Helvetica, sans-serif;
$mono-font-stack: 'Roboto Mono', monospace;
$slab-font-stack: 'Roboto Slab', serif;

$bg-color: #f3f3f3;
$theme-color: #EE9B00;
$accent-color: #D25A1E;

$link-hover-color: #C66;
$link-current-color: #933;

@mixin center-horizontally() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin square-dimensions($dimensions) {
  width: $dimensions;
  height: $dimensions;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: $sans-serif-font-stack;
  // font-size: 16px;
  background: $bg-color;
}

a {
  text-decoration: none;
  @include transition(.25s);
  &:visited {
    text-decoration: none;
  }
}
