$code-punctuation-color: #f33;
$code-string-color: #060;
$code-value-color: black;
$code-keyword-color: $code-punctuation-color;
$code-function-color: #909;
$code-link-color: #009;
$code-font-size: 1.1em;

code {
  font-family: $mono-font-stack;
  font-size: $code-font-size;
}

span.c-punc {
  color: $code-punctuation-color;
}

span.c-val {
  color: $code-value-color;
}

span.c-str {
  color: $code-string-color;
}

span.c-kw {
  color: $code-keyword-color;
}

span.c-func {
  color: $code-function-color;
}

span.c-link {
  color: $code-link-color;
}

a.code-link {
  color: $code-link-color;

  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $code-link-color;
  }
}