$code-constructor-color: #909;
$code-string-color: #060;
$code-punctuation-color: #f33;
$code-function-color: #009;
$code-font-size: 1.1em;

code {
  font-family: $mono-font-stack;
  font-size: $code-font-size;
}

span.c-constr {
  color: $code-constructor-color;
}

span.c-string {
  color: $code-string-color;
}

span.c-punc {
  color: $code-punctuation-color;
}

span.c-func {
  color: $code-function-color;

  a {
    color: $code-function-color;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $code-function-color;
    }
  }
}