// Navigation header file.

$nav-menu-link-color: white;
$nav-menu-link-hover-color: #333;
$nav-menu-bg-image: url('../graphics/bg-theme.png');

@mixin navigation-link() {
  font-family: $slab-font-stack;
  font-weight: 100;
  letter-spacing: .1em;
  text-transform: uppercase;
  
  list-style: none;

  a {
    // @include transition(.1s); 
    color: $nav-menu-link-color;
    &:hover {
      color: $nav-menu-link-hover-color;
    }
  }
}

@import "navigation/header-menu";
@import "navigation/mobile-menu";
@import "navigation/mobile-menu-button";
