// 
// Sections header file.
//

$section-padding: 50px;
$content-left-margin: $nav-menu-width + $nav-menu-skew-width;

// Wrapper for all of the sections.
div.content {
  // To prevent the fake header from covering content.
  @media #{$query-mobile} {
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$query-desktop} {
    margin-left: $content-left-margin;
    min-width: $min-page-width - $content-left-margin;
  }
}  

section {
  box-sizing: border-box;
  padding: $section-padding;
  @media #{$query-sm-mobile} {
    @include padding-horizontal(0);
  }
}

@import "sections/about";
@import "sections/projects";