$lang-list-item-spacing: 20px;
$lang-list-inset: 1em;

$about-code-padding: 50px;

section.large-section {
  min-height: 100vh;
}

section#about {
  ul.about-lang-opt-list {
    list-style: none;
    position: absolute;
    right: $lang-list-inset;
    top: $lang-list-inset;
  }

  li.about-lang-opt-item {
    float: left;

    margin-right: $lang-list-item-spacing;

    text-transform: uppercase;
    // font-family: 'Lato';
    font-family: 'Roboto Slab';
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .1em;

    a {
      color: black;
      
      &:visited {
        color: black;
      }

      &:hover {
        color: #CC6666;
      }
    }

    &[data-selected="true"] a {
      color: #993333;

      &:hover {
        color: #CC6666;
      }
    }
  }

  // See code.scss for colors.
  div.code-wrapper {
    padding: 20px $about-code-padding 0;
    clear: both;
  }
}