h1.title {
  margin: 0;
  position: fixed;
  top: 30px;
  right: 40px;

  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .4em;

  cursor: default;
  @media #{$query-mobile} {
    display: none;
  }
  @media #{$query-desktop} {
    display: block;
  }
}