$-content-left-buffer: 20px;
$-content-left-margin: $nav-menu-width + $nav-menu-skew-width + $-content-left-buffer;

div.content {
  @media #{$query-mobile} {
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$query-desktop} {
    margin-left: $-content-left-margin;
  }
}  