// Styles for the About section (first section), unincluding code styles.

$lang-list-item-spacing: 20px;
$lang-list-inset: .9em;

$lang-list-link-hover-color: #C66;
$lang-list-link-color: #933;

$code-wrapper-padding-v: 55px;
$code-wrapper-padding-h: 25px;

section#about {
  min-height: 100vh;
  // Center the code block.
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: start;

  @media #{$query-mobile} {
    justify-content: center;
  }
  @media #{$query-sm-mobile} {
    justify-content: start;
  }

  // See code.scss for colors.
  div.code-wrapper {
    @media #{$query-mobile} {
      padding-top: 0;
    }
    @media #{$query-desktop} {
      padding-top: $code-wrapper-padding-v;
    }
    @include padding-horizontal($code-wrapper-padding-h);
    @include margin-horizontal(auto);
    pre {
      margin: 0;
    }
  }

  p.about-en {
    font-family: $slab-font-stack;
    font-size: 1.2em;
  }
}

// Language options list
ul.language-list {
  @media #{$query-mobile} {
    display: none;
  }
  @media #{$query-desktop} {
    display: block;
  }
  list-style: none;
  position: absolute;
  right: $lang-list-inset;
  top: $lang-list-inset;
}

li.language {
  float: left;
  margin-right: $lang-list-item-spacing;
  text-transform: uppercase;
  font-family: $slab-font-stack;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .1em;

  a {
    color: black;
    &:visited { color: black; }
    &:hover { color: $lang-list-link-hover-color; }
  }
  &[data-selected="true"] a {
    color: $lang-list-link-color;
    &:hover { color: $lang-list-link-hover-color; }
  }
}
