$project-padding-v: 20px;
$project-padding-h: 15px;
$project-padding: $project-padding-v $project-padding-h;
$project-border: $subsection-border;

// @import "tags"

section#projects {
  div.project-div {
    box-sizing: border-box;
    padding: $project-padding;

    border-bottom: $project-border;
    // The resume section has a border.
    &.last { border-bottom: none; }
  }

  a {
    @include transition(.02s);
    color: blue;
    &:hover { 
      color: rebeccapurple;
      text-decoration: underline;
    }
    &:visited { color: blue; }
  }
}