/*
- div.card-wrapper
  - div.card.card
    - img.card-img-top.card-img
    - div.card-block
      - h5.card-title.card-title
      - p.card-text
      - a.btn.btn-primary
      - a.btn.btn-primary
 */

// Project card wrapper wrapping .card.
div.card-wrapper {
  padding: 24px;
}

// Project card div wrapping .card-img and .card-title.
div.card {
  //-webkit-border-radius: 0;
  //-moz-border-radius: 0;
  //border-radius: 0;
  //border: 3px dashed $hf-color;
}

// The image displayed at the top of the card.
img.card-img {
  border-top: solid darken(white, 12.5%) 1px;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

// Project card title. Appears below card-img.
h5.card-title {
  font-family: $slab-font-stack;
  font-weight: 400;
}
